# file options

--exclude XcodeBuild,KinoLenta/Generated

# format options

--swiftversion 5.1
--maxwidth 120
--indent 4
--trimwhitespace always
--nospaceoperators ...,..<
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first

# rules

--disable isEmpty

--disable andOperator
--disable anyObjectProtocol
--disable assertionFailures
--disable braces
--disable consecutiveBlankLines
--disable emptyBraces
--disable enumNamespaces
--disable extensionAccessControl
--disable fileHeader
--disable hoistPatternLet
--disable initCoderUnavailable
--disable leadingDelimiters
--disable modifierOrder
--disable numberFormatting
--disable preferKeyPath
--disable redundantBackticks
--disable redundantBreak
--disable redundantClosure
--disable redundantExtensionACL
--disable redundantFileprivate
--disable redundantGet
--disable redundantInit
--disable redundantLet
--disable redundantLetError
--disable redundantNilInit
--disable redundantObjc
--disable redundantParens
--disable redundantPattern
--disable redundantRawValues
--disable redundantReturn
--disable redundantSelf
--disable redundantType
--disable redundantVoidReturnType
--disable strongOutlets
--disable strongifiedSelf
--disable todos
--disable trailingClosures
--disable trailingCommas
--disable typeSugar
--disable unusedArguments
--disable void
--disable yodaConditions
